<h1>Web Hooks Support</h1>


<div class="content" role="main">
  <div class="container">
    <!-- <form [formGroup]="form" (ngSubmit)="submit()"  > -->

 

      <div class="form-group">

        <div>
          <label for="typeNotify">Type Notify:</label>
          <select [(ngModel)]="typeNotify" class="form-control">
            <option value="Twitter" selected="true">Twitter</option>
            <option value="Facebook" selected="true">Facebook</option>
          </select>
        </div>
 
        <label for="toAutoUpdate">Auto Update </label>
        <input type="checkbox" [(ngModel)]="toAutoUpdate"
            class="form-control"> 
        <label for="authorID">Author ID:</label>
        <input type="text" [(ngModel)]="authorID"
               class="form-control"> 
        <label for="numID">ID:</label>
        <input type="text" [(ngModel)]="numID"
               readonly="true" class="form-control"> 
        <div  class="sub-heading">Text Area Input Field</div>
        <textarea class ="text-area" [(ngModel)]="textMessage" 
        cols="40" rows="6" class="form-control"></textarea>

    <!-- <input type="text" formControlName="pairsDelim"
               > -->
      </div>

      <!-- <div *ngIf="Ready"> -->
        <!-- <button class="btn btn-success" type="text"
                [disabled]="!Ready" (click)="getNewPairs($event)">
          Get New Pairs
        </button>
        &nbsp;&nbsp;&nbsp; -->
        <button class="btn btn-success" type="text"
                (click)="onTryInsert($event)"
                [hidden]="!Ready">
          Try Insert
        </button>