
<div class="content" role="main">
  <div class="container">
    <!-- <form [formGroup]="form" (ngSubmit)="submit()"  > -->

    <form [formGroup]="form">

      <div class="form-group">

        <label for="pairsDelim">Currency Pairs:</label>
        <input type="text" formControlName="pairsDelim"
               class="form-control">
      </div>

      <div *ngIf="Ready">
        <button class="btn btn-success" type="text"
                [disabled]="!Ready" (click)="getNewPairs($event)">
          Get New Pairs
        </button>
        &nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" type="text"
                (click)="onTry($event)">
          Try
        </button>

      </div>


    </form>
    <br />
    <br />
    <app-money-table></app-money-table>

  </div>
</div>
