<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Pair</th>
      <th>Ratio </th>
      <!-- <th>Old Ratio </th> -->
      <th>Percent </th>
      <th>Status</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let quote of  QuotesSubject$ | async  "
        [ngStyle]="percentStyle(quote)">
      <td>{{ quote.pair}}</td>
      <td>{{ quote.ratio }}</td>
      <!--  <td>{{ quote.oldRatio }}</td> -->
      <td>
        {{quote.percent}}
      </td>
      <td>{{ quote.status }}</td>
      <td>{{ quote.updated }}</td>
    </tr>
  </tbody>
</table>

